*{
    margin: 0;
    padding: 0;
}

header{
    background-color: aqua;
    padding: 2rem;
    width: 100%;

}

nav ul{
    display: flex;
    justify-content: flex-end;
 
}

nav li{
list-style: none;
padding: 10px;
position: relative;

}
nav a{
    padding: 5px 2.5rem;
 color: black;
 text-decoration: none;
 border: 1px solid black;
 border-radius: 30px;
 background-color: white;

}

nav a:hover{
color: red;
background-color: yellowgreen;
}

.submenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    /* background-color: red; */
    width: 150px;
    left: 0;
    margin: 6px;
    
}


.submenu a{
    
}
    










