ul li{
    float: left;
    background-color: red;
    height: 40px;
    width: 150px;
   list-style: none;
   line-height: 40px;
   text-align: center;
   margin-left: 5px;
}

ul li:hover{
    background-color: gray;
    color: white;
}
ul li>ul li{
    display: none;
}

ul li:hover>ul li{
display: block;
    
}