* {
    margin: 0;
    padding: 0;
}

main {

    background-color: aquamarine;
    width: 1400px;
    height: 100vh;
}

@media all and (max-width:1200px) {

    main {

        background-color: blueviolet;
    }


}

@media all and (max-width:1000px) {

    main {

        background-color: orangered;
    }


}

@media all and (max-width:800px) {
    main{

background-color: skyblue;

    }
    
}

@media all and (max-width:600px){

main{
    background-color: blue;
}

}

.card{

    background-color: red;
    width: 300px;
    height: 300px;
}
.card img{
    width: auto;
    height: 600px;
}