*{margin: 0px;
padding: 0px;}

.main{
    height: 1024px;
    width: 750px;
    background-color: blue;
    margin: auto;
}
.header{
    height: 150px;
    width: 750px;
    background-color: orangered;
    float: left;
}
.logo{
height: 150px;
width: 200px;
background-color:gray;
float: left;
}
.social{
    height: 100px;
    width: 550px;
    background-color: yellow;
    float: left;
    }

.menu{
        height: 50px;
        width: 550px;
        background-color: orangered;
        float: left;
        }
.menu ul li{
    float: left;
    display: block;
    height: 40px;
    width: 130px;
    background-color: white;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
   line-height: 40px;


}
.container{
    height: 824px;
    width: 750px;
    background-color: green;
}
.footer{
    height: 50px;
    width: 750px;
    background-color:purple;
}