p{

text-align: right;
text-decoration: underline;
text-decoration: overline;
text-transform: capitalize;

}
h1{
text-transform: lowercase;

}
H2{
    text-transform: uppercase;
   color: blue;
   text-shadow: 02PX 02PX 1px red;

}